html body{
    
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}





header, footer{
    background-color: rgb(23, 68, 23);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.20);
    padding: 0.7rem;
}





header span {
    font-weight: bold;
}




h1{
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}


h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h4{
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: bold;

}



img{
    width: 300px;
    height: 200px;
}


.tarjeta{
    
    
    box-shadow: 0px 0px 3px 3px rgb(0, 0, 0.20);  
    /* le da una sombra al elemento (horizontal) (vertical) (desenfoque) (extension) */

    display: flex; 
    /* define como se muestra el elemento en el dise침o */

    flex-direction: column; 
    /* direccion de elementos hijos */

    align-items: center; 
    /* alinea elementos */

    justify-content: space-between; 
    /* da espacio entre medio de elementos */

    margin: 10px 20px 10px 20px;
    /* define espacio exterior alrededor del elemento */

    flex-basis: 300px; 
    /* Establece el tama침o inicial del elemento antes de distribuir el espacio disponible */

    flex-grow: 1; 
    /* Permite que el elemento flex crezca para ocupar el espacio adicional disponible. */


    transition: 200ms;

    

}

#contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px ;
    
}



body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    height: 100vh;
    color: rgb(0, 0, 0);


}

button { 
    margin: 10px 20px 10px 20px;
}


main {
    justify-content: center;
    align-items: center;
    min-height: auto;
    height: 100vh;
    background-image: url(/imagenes/HDA.1.jpg);
    background-repeat: no-repeat; /* Previene que la imagen se repita */
    background-size: cover; /* Ajusta la imagen para cubrir el 치rea disponible */
    background-position: center; /* Centra la imagen en el 치rea visible */
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.377);
}

ul{
    background-color: rgba(0, 128, 0, 0.185);
    padding: 20px;
    margin-bottom: 1rem;

}

li{
    font-weight: bold;
    list-style-type: disc;
    justify-content: space-between;
}

#Sect.final{
    margin-top: 2rem;
    padding: 2rem;
}



footer{
    margin-top: auto;
}
