html body{
    
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}





header, footer{
    background-color: rgb(23, 68, 23);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.20);
    padding: 0.7rem;
    color: rgb(255, 255, 255);
}





header span {
    font-weight: bold;
}


.TextoI{
    text-decoration-line: underline;
    font-weight: bold;
}

h1{
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: bold;
}


h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-weight: bold;
}


h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    
}

h4{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);

}

p{
    font-weight: bold;
}

img{
    width: 300px;
    height: 200px;
}


.tarjeta{
    
    background-color: rgba(194, 201, 194, 0.712);

    box-shadow: 0px 0px 3px 3px rgb(0, 0, 0.20);  
    /* le da una sombra al elemento (horizontal) (vertical) (desenfoque) (extension) */

    display: flex; 
    /* define como se muestra el elemento en el diseño */

    flex-direction: column; 
    /* direccion de elementos hijos */

    align-items: center; 
    /* alinea elementos */

    justify-content: space-between; 
    /* da espacio entre medio de elementos */

    flex-basis: 300px; 
    /* Establece el tamaño inicial del elemento antes de distribuir el espacio disponible */

    flex-grow: 1; 
    /* Permite que el elemento flex crezca para ocupar el espacio adicional disponible. */

    transition: 200ms;

}



#contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px ;
    
}



body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    height: 100vh;
    


}

button { 
    margin: 25px 150px 25px 150px; /*distancia entre botones*/
    cursor: pointer;
    
    
}

button:hover{
        background-color: rgba(0, 128, 0, 0.5); /* Color de fondo al pasar el cursor */
        transform: scale(1.1); /* Aumentar ligeramente el tamaño del botón */
}


main {
    justify-content: center;
    align-items: center;
    min-height: auto;
    height: 100vh;
    background-image: url(hda.jpg);                            
    background-repeat: no-repeat; /* Previene que la imagen se repita */
    background-size: cover; /* Ajusta la imagen para cubrir el área disponible */
    background-position: center; /* Centra la imagen en el área visible */
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.568);
}

.datosc{
    text-decoration: underline;
}

ul{
    background-color: rgba(23, 68, 23, 0.699);
    padding: 20px;
    margin-bottom: 1rem;
    border: solid rgba(0, 0, 0, 0.623);
    text-decoration-color: white;
        }

#elementoss{
    margin: 1px0;
    
}


.DatosC{
color: rgb(235, 229, 229);
font-weight: bolder;
margin: 0px;

}

li{
    font-weight: bold;
    
    justify-content: space-between;
}

#ElementosL {
    margin: 0px;
}





.BV {

color: rgb(0, 0, 0);
box-shadow: 0px 0px 3px 3px rgb(0, 0, 0.20);
padding: 10px 30px 10px 30px;


}

.Historia{
    max-width: 700px;
    margin: 0 auto;
    border: 2px solid black; /* Color y grosor del borde */
    padding: 1rem;
    margin-top: 40px;
    background-color: rgba(194, 201, 194, 0.712);
    padding: 20px; /* Espacio interno entre el texto y el borde de la caja */
    font-size: 16px;
    padding-top: 10px;

    /*margin: 20px; /* Espacio externo alrededor de la caja */
    /*/*//*text-align: center; /* Alineación del texto */
    /*ont-size: 16px; /* Tamaño del texto */  
    
}

.trans{
    color: transparent;
}

.linkp{
    color: rgb(43, 255, 0);
}